.panel {
  width: 100%;
  height: auto;
  background: #fff;
  border-left: 1px solid #ededed;
  display: flex;
  flex-direction: column;
  padding: 0;
  box-sizing: border-box;
}

.header {
  height: 48px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ededed;
  padding: 0 8px;
}

.closeButton {
  border: none;
  background: transparent;
  cursor: pointer;
  color: #555;
  padding: 0 8px 0 4px;
  font-size: 19px;
  line-height: 1;
}

.heading {
  font-weight: 500;
  font-size: 16px;
  color: #444;
  flex: 1;
  text-align: center;
}

.body {
  flex: 1;
  padding: 18px 12px 0 12px;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: auto;
}

.label {
  display: block;
  margin-bottom: 7px;
  color: #888;
  font-size: 13.2px;
}

.textarea {
  width: 100%;
  min-width: 0;
  border-radius: 6px;
  border: 1px solid #e1e1e1;
  background: #fafafa;
  padding: 10px;
  font-size: 15px;
  color: #333;
  resize: vertical;
  font-family: inherit;
  box-sizing: border-box;
}
.textareaSeparator {
  margin-top: 16px;

  border-bottom: 1px solid #d3d3d3;
  width: 100%;
}
